.about {
    background-color: #A5978E;
    padding: 50px 0;
    color: var(--color-another-white);
    margin-bottom: 150px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__content {
        min-width: 370px;
    }

    &__text {
        margin-bottom: 15px;
    }

    &__list {
        display: flex;
        padding-left: 110px;
        padding-bottom: 48px;
        align-items: center;
        gap: 0 20px;
        flex-basis: 930px;
    }

    &__item-img {
        margin-bottom: 10px;
    }

    &__item-text {
        font-size: 11px;
    }
}


@media (max-width: 1000px) {
    .about {
        &__content {
            min-width: 300px;
        }

        &__list {
            padding-left: 20px;
        }
    }
}

@media (max-width: 768px) {
    .about {
        &__content {
            min-width: 200px;
        }
    
        &__title {
            margin-bottom: 20px;
        }
    
        &__list {
            margin-left: 27px;
            margin-bottom: 33px;
            gap: 0 10px;
        }
    
        &__item-text {
            font-size: 6px;
        }
    
        &__item-img {
            margin-bottom: 6px;
        }
    
        &__item-img--1 {
            width: 120px;
        }
    
        &__item-img--2 {
            width: 190px;
        }
    
        &__item-img--3 {
            width: 120px;
        }
    }
}

@media (max-width: 480px) {
    .about {
        margin-bottom: 50px;

        &__inner {
            align-items: flex-end;
        }

        &__content {
            min-width: 170px;
        }

        &__list {
            margin-left: 0;
            margin-bottom: 0;
            padding-left: 10px;
            gap: 0 5px;
            align-items: flex-end;
        }

        &__item-text {
            display: none;
        }

        &__item-img--1,
        &__item-img--3 {
            width: 80px;
        }

        &__item-img--2 {
            width: 140px;
        }
    }
}

@media (max-width: 360px) {
    .about {
        padding-top: 25px;
        padding-bottom: 10px;

        &__content {
            min-width: 233px;
        }

        &__list {
            padding-left: 12px;
            padding-bottom: 30px;
            margin-left: 12px;
            gap: 0 13px;
        }

        &__item-img--2 {
            display: none;
        }
    }
}