.certificates {
    &__slider {
        width: 1135px;
        overflow: hidden;
    }

    &__descr {
        margin-right: 20px;
    }

    &__content {
        padding-bottom: 113px;
    }

    &__content .swiper-pagination {
        bottom: 60px;
        text-align: left;
    }
}


@media (max-width: 1000px) {
    .certificates {
        &__content img {
            width: 280px;
        }

        &__slider {
            width: 880px;
        }

        &__content .swiper-pagination {
            text-align: center;
        }
    }
}

@media (max-width: 900px) {
    .certificates .title {
        font-size: 26px;
    }
}

@media (max-width: 480px) {
    .certificates .certificates {
        &__content img {
            width: 200px;
        }

        &__slider {
            width: 415px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 360px) {
    .certificates {
        &__slider {
            width: 200px;
            margin: 0 auto;
        }
    }
}