.contacts {
    padding: 150px 0 50px;

    &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    };
}

.form {
    background-color: var(--color-white);
    width: 664px;
    padding: 75px 42px 67px;
    margin-right: 46px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);

    &__title {
    font-family: var(--font-family-base);
    font-size: 40px;
    margin-bottom: 50px;
    };

    &__input {
    background-color: var(--color-white);
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    padding: 7px 10px;
    color: black;
    };

    &__input::placeholder {
    color: #b3b3b3;
    font-family: var(--font-family-accent);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    };

    &__btn {
    background-color: var(--color-yellow);
    font-family: var(--font-family-accent);
    font-size: 14px;
    color: #272727;
    margin-top: 36px;
    padding: 17px 34px;
    };
}


@media (max-width: 1000px) {
    .form {
        padding: 25px 12px 37px;
    }
    .contacts__img {
        width: 335px;
    }

    .contacts__img {
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .form {
        width: 440px;
        gap: 0 20px;
        padding: 30px 22px;

        &__title {
        font-size: 15px;
        margin-bottom: 20px;
        };

        &__btn {
        margin-top: 10px;
        };
    }
    .contacts__img {
        width: 187px;
    }
}

@media (max-width: 480px) {
    .contacts {
        padding-top: 50px;

        &__img {
        display: none;
        };
    }
    .form {
        margin-right: 0;

        &__input::placeholder{
        font-size: 10px;
        };
    }
}