.feedback__content {
    padding-bottom: 110px;
}
.feedback__item-content {
    padding-bottom: 70px;
}
.feedback__item {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 16px;
    align-items: center;
}
.feedback__descr {
    margin-right: 20px;
}
.feedback__item-video {
    position: relative;
}
.feedback__item-videobtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}
.feedback__item-sociallink {
    margin-bottom: 12px;
}
.feedback__item-name {
    margin-bottom: 15px;
    font-family: 'Yeseva One', cursive;
    font-size: 16px;
}
.feedback__item-text {
    font-size: 14px;
    margin-bottom: 15px;
}
.feedback__item-btn {
    position: absolute;
    bottom: 10px;
    right: 0;
}
.feedback__slider {
    overflow: hidden;
    width: 760px;
}
.feedback__content .swiper-pagination {
    bottom: 50px;
}
.swiper-pagination-bullet {
    height: 4px;
    width: 53px;
    background-color: #BEA495;
    border-radius: 0;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #7B6152;
}


@media (max-width: 1000px) {
    .feedback__inner {
        grid-template-columns: 260px auto;
    }
    .feedback__slider {
        width: 690px;
    }
}

@media (max-width: 980px) {
    .feedback__item-video {
        width: 280px;
    }
    .feedback__item-img {
        width: 280px;
    }
    .feedback__item-text {
        font-size: 12px;
    }
    .feedback .title {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .feedback__item-video {
        width: 200px;
    }
    .feedback__item-img {
        width: 200px;
    }
    .feedback__slider {
        width: 447px;
    }
    .feedback__item-content {
        padding-bottom: 45px;
    }
    .feedback__item-btn {
        padding: 10px 15px;
    }
    .feedback__item-name {
        font-size: 12px;
        margin-bottom: 7px;
    }
    .feedback__item-text {
        font-size: 10px;
    }
    .feedback__item-sociallink img{
        margin-top: 9px;
        width: 18px;
    }
}

@media (max-width: 640px) {
    .feedback__item-video {
        width: 240px;
    }
    .feedback__item-img {
        width: 240px;
    }
    .feedback__slider {
        width: 510px;
    }
    .feedback__item-sociallink img {
        margin-bottom: 15px;
    }
    .feedback__item-name {
        margin-bottom: 15px;
    }
}

@media (max-width: 500px) {
    .feedback__item-video {
        width: 200px;
    }
    .feedback__item-img {
        width: 200px;
    }
    .feedback__slider {
        width: 450px;
    }
    .feedback__item-sociallink img {
        margin-bottom: 15px;
    }
    .feedback__item-name {
        margin-bottom: 15px;
    }
}

@media (max-width: 404px) {
    .feedback__item {
        grid-template-columns: auto;
        text-align: center;
    }
    .feedback__slider {
        width: 250px;
        margin: 0 auto;
    }
    .feedback__item-video {
        width: 250px;
    }
    .feedback__item-img {
        width: 250px;
        margin: 0 auto;
    }
    .feedback__item-btn {
        bottom: 0;
        left: 0;
        margin: 0 auto;
        max-width: 120px;
        font-size: 10px;
    }
}