.footer {
    padding-top: 40px;
    padding-bottom: 35px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        width: 230px;
    }
    &__social {
        display: flex;
        gap: 15px;
    }
}

.email {
    margin: 17px 0;
}


@media (max-width: 900px) {
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__contacts {
        width: 100%;
        text-align: center;
        padding-top: 15px;
    }
    .footer__social {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .footer {
        padding: 50px 0;
        font-size: 14px;

        &__inner {
            flex-direction: column;
        }
        &__menu {
            padding: 50px 0;
            text-align: center;
            &-list {
                flex-direction: column;
            }
        }
    }
}