.steps__list {
    gap: 70px 25px;
    counter-reset: number;
}
.steps__item {
    display: flex;
    gap: 40px;
    list-style-type: none;
    position: relative;
}
.steps__item::before {
    counter-increment: number;
    font-family: 'Yeseva One', cursive;
    content: '0' counter(number);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
    color: #BEA495;
}
.steps__item:nth-child(n+10):before {
    content: counter(number);
}
.steps__item.steps__item--even::before {
    left: auto;
    right: 0;
}
.steps__item-text {
    flex-basis: 174px;
    padding-bottom: 40px;
}

@media (max-width: 1050px) {
    .steps__list {
        gap: 37px 35px;
    }
    .steps__item {
        gap: 0 30px;
    }
}

@media (max-width: 980px) {
    .steps__title {
        font-size: 30px;
    }
    .steps__list {
        gap: 37px 35px;
    }
    .steps__item {
        gap: 0 20px;
    }
    .steps__item-img {
        width: 85px;
        object-fit: cover;
    }
    .steps__item-text {
        font-size: 8px;
    }
    .steps__item::before {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .steps__list {
        gap: 25px 40px;
    }
}

@media (max-width: 404px) {
    .steps__list {
        gap: 20px 25px;
    }
    .steps__item {
        gap: 0 16px;
    }
    .steps__item-img {
        width: 66px;
    }
}

@media (max-width: 360px) {
    .steps__item-text {
        font-size: 6px;
    }
}