:root {
    --color-white: #fff;
    --color-another-white: #FAFAFA;
    --color-gray: #BEA495;
    --color-yellow: #ffbd59;

    --font-family-base: 'Yeseva One', cursive;
    --font-family-accent: 'Comfortaa', cursive;
}


