:root {
    --color-white: #fff;
    --color-another-white: #FAFAFA;
    --color-gray: #BEA495;
    --color-yellow: #ffbd59;
    --color-stonegray: #A5978E;
    --color-dustybrown: #7B6152;
    --color-smoke: #b3b3b3;
    --color-warm-white: #fff8f3;
    --color-cream-yellow: #ff9;
    --color-silver: #cccccc;
    --color-darkgray: #272727;

    --font-family-base: 'Yeseva One', cursive;
    --font-family-accent: 'Comfortaa', cursive;
}


