.accordeon__item {
    background-color: #FAFAFA;
    margin-bottom: 10px;
}
.accordeon__title {
    font-family: 'Yeseva One', cursive;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: left;
    background-color: transparent;
    padding: 16px 50px 16px 13px;
    position: relative;
}
.accordeon__title::after {
    content: "";
    position: absolute;
    background-image: url(../images/arrow.svg);
    width: 16px;
    height: 16px;
    top: 17px;
    right: 26px;
}
.accordeon__title.accordeon__title--active::after {
    transform: rotate(180deg);
}
.accordeon__text {
    opacity: 0;
    max-height: 0;
    transition: opacity .3s, max-height .3s;
}
.accordeon__text-content {
    padding: 20px 40px;
}
.accordeon__text.accordeon__text--visible {
    opacity: 1;
}

@media (max-width: 900px) {
    .questions .title {
        font-size: 32px;
    }
}

@media (max-width: 640px) {
    .questions .title {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .questions .title {
        font-size: 24px;
    }
}